#loader {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .hidden {
    display: none !important;
  }
  
  #button_loader {
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  img {
    animation: spin 0.7s linear 0s infinite;
  }
  
  .content {
    margin: 40px 0;
    text-align: center;
  }
  