---
layout: base.njk
---

         <div class="container">
            <div class="banner-header banner-lbook3">
                <img src="/assets/images/vairaoosi-catalog1.jpg" alt="Banner-header">
                <div class="text">
                    <h3>Contact</h3>
                    <img class="border" src="/assets/images/vairaoosi-slideshow-border-home1.png" alt="border">
                    <p>Contact our support</p>
                </div>
            </div>
        </div>
           
            <!-- Begin Contact Us -->
            <div class="contact-us">
                <div class="container" style="margin-top: 31px;">
                    <div class="col-md-6 contact-form contact-form-bg">
                        <i class="icon icon-paper-plane "></i>
                        <h3 class="space-30">Contact Us</h3>
                        <p>TO RECEIVE UPDATES</p>
                        <form class="form-horizontal" action='https://forms.zohopublic.com/midhunserviceswebgm1/form/ContactUs/formperma/eVXn7nRKZ0lXaXTUETCV5e21-OvYAZuc0S11HpLesgU/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                            <input type="hidden" name="zf_referrer_name" value="Contact Page">
                            <input type="hidden" name="zf_redirect_url" value="/all-products/">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" maxlength="255" name="Name_First" fieldType=7 placeholder="First Name">                        
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" maxlength="255" name="Name_Last" fieldType=7 placeholder="Last name">                   
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled=false maxlength="20" value="" fieldType=11 id="international_PhoneNumber_countrycode" placeholder="Phone number">                   
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" maxlength="255" name="Email" value="" fieldType=9 placeholder="Email address">                   
                            </div>
                            <div class="form-group col-md-12">
                                 <textarea class="form-control" name="MultiLine" maxlength="65535" placeholder="Message"></textarea> 
                                <div class="checkbox space-10">
                                </div>
                                <button class="btn button1 hover-white" type="submit">Submit <i class="link-icon-white"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div id="googleMap">
                            
                        </div>
                        <!-- End google map -->
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End contact-us -->
