 
        <div id="back-to-top">
            <i class="fa fa-long-arrow-up"></i>
       </div>

        <div id="back-to-top" class="show" style="bottom: 80px;">
            <a href="https://wa.me/+97334430711"><i class="fa fa-whatsapp"></i></a>
       </div> 

       <div id="back-to-top" class="show snipcart-checkout" style="bottom: 130px;">
            <i class="icons icon-bag"></i>
            <span class="cart-count snipcart-items-count"></span>
       </div>  
 
        <!-- /footer -->

<footer id="footer" class="footer-v1">         
          <div class="container">
                <div class="footer-top">
                    <div class="logo-footer">
                        <a href="#" title="Vaira Oosi">
                            <img src="/assets/images/vairaoosi-logo-black.svg" alt="vairaoosi-logo-black">
                        </a>
                    </div>
                    <div class="menu-footer">
                        <ul>
                            <li><a href="/" title="Home">Home</a></li>
                            <li><a href="/all-products/" title="Product">Product</a></li>
                            {# <li><a href="#" title="History">History</a></li> #}
                            <li><a href="/about/" title="Showroom">About</a></li>
                            <li><a href="/contact/" title="Contact">Contact</a></li>
                            <li><a href="/terms-and-conditions/" title="Terms & Conditions">Terms & Conditions</a></li>
                            <li><a href="/refund-and-cancellation-policy/" title="Refund and Cancellation Policy">Refund and Cancellation Policy</a></li>
                        </ul>    
                    </div>
                    <!-- End menu-footer -->
                    <div class="social">
                        <a class="active" title="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a title="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a title="instagram" href="https://www.instagram.com/vaira_oosi/"><i class="fa fa-instagram"></i></a>
                        <a title="pinter" href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a title="rss" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                    <!-- End social -->
                </div>
                <!-- End footer-top -->
                <div class="footer-bottom">
                    <p>&copy; 2024 Vaira Oosi. A product designed by <a href="#" title="Vaira Oosi">Vaira Oosi</a></p>
                </div>
                <!-- End footer-bottom -->
          </div>
          <!-- End container -->
</footer>