 <header id="header" class="header-v1 header-top-absolute">
            <div id="topbar">
                <div class="container">
                    <div class="topbar-left">
                        <div class="social">
                            <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/vaira_oosi/" title="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" title="pinter"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#" title="rss"><i class="fa fa-rss"></i></a>
                        </div>
                        <!-- End Social -->
                    </div>
                    <!-- End topBar-left -->
                    <div class="topbar-right">
                        <div class="sign-in">
                            <a href="#" title="mailto:support@vairaoosi.com"><i class="icons icon-envelope"></i><span>support@vairaoosi.com</span></a>
                            <a href="#/dashboard" title="Access Account">
                                <i class="icon-user icons"></i>
                                <span>Customer Account</span>
                            </a>
                            <a href="#" title="Product Tracking"><i class="icon-truck icons"></i><span>Product Tracking</span></a>
                            {# <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icons icon-magnifier dropdown-toggle"></i><span>Search</span>
                            </div> #}
                            <!-- End search -->
                        </div>
                        <!-- End SignIn -->
                    </div>
                    <!-- End topbar-right -->
                </div>
                <!-- End container -->
            </div>
            <!-- End Top Bar -->
            <div class="header-top">
                    <div class="container">
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <p class="icon-menu-mobile"><i class="fa fa-bars" ></i></p>
                        <div class="logo"><a href="#" title="Vaira Oosi">
                        <img src="/assets/images/vairaoosi-logo-white.svg" alt="images">
                        </a></div>
                        <div class="logo-mobile"><a href="/" title="Vaira Oosi"><img src="/assets/images/vairaoosi-logo-black.svg" alt="Vaira-Oosi"></a></div>
                        <nav class="mega-menu">
                        <!-- Brand and toggle get grouped for better mobile display -->
                          <ul class="nav navbar-nav" id="navbar">
                            <li class="level1 active dropdown"><a href="/" title="Home">Home</a>
                                {# <ul class="menu-level-1 dropdown-menu">
                                   <li class="level2"><a href="home_collection_style1.html" title="Home Collecttion 1">Home Collecttion 1</a></li>
                                    <li class="level2"><a href="home_v2.html" title="Home 2">Home 2</a></li>
                                    <li class="level2"><a href="home_fullscreen2.html" title="Home Full Screen 2">Home Full Screen 2</a></li>
                                    <li class="level2"><a href="home_v3.html" title="Home 3">Home 3</a></li>
                                    <li class="level2"><a href="home_v4.html" title="Home 4">Home 4</a></li>
                                    <li class="level2"><a href="home_Colection_Style3.html" title="Home Collection 3">Home Collection 3</a></li>
                                    <li class="level2"><a href="home_v6.html" title="Home 6">Home 6</a></li>
                                    <li class="level2"><a href="home_v7.html" title="Home 7">Home 7</a></li>
                                    <li class="level2"><a href="home_v8.html" title="Home 8">Home 8</a></li>
                                </ul> #}
                            </li>
                            <li class="level1 dropdown">
                                <a href="/all-products/" title="All Products">Shop</a>
                                <div class="sub-menu dropdown-menu">
                                  <ul class="menu-level-1">
                                    <li class="level2"><a href="/all-products/">All Products</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="/all-products/" title="Shop_Catalog Standar">All Vaira Oosi Sarees</a></li>
                                            <li class="level3"><a href="/all-discounted/" title="Shop _ Catalog Fullwidth">All discounted Sarees</a></li>
                                            <li class="level3"><a href="/all-trending/" title="Shop_Catelog Flat">All Trending Sarees</a></li>
                                        </ul>
                                    </li>
                                    {# <li class="level2"><a href="#">product pages</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="#" title="Product _ Custom Design I">Product _ Custom Design I</a></li>
                                            <li class="level3"><a href="#" title="Product _ Custom Design II">Product _ Custom Design II</a></li>
                                            <li class="level3"><a href="#" title="Product _ Simple">Product _ Simple</a></li>
                                            <li class="level3"><a href="#" title="Product _ Variable">Product _ Variable</a></li>
                                            <li class="level3"><a href="#" title="Product _ Downloadable">Product _ Downloadable</a></li>
                                            <li class="level3"><a href="#" title="Product _ Grouped">Product _ Grouped</a></li>
                                            <li class="level3"><a href="#" title="Product _ External / Affiliate">Product _ External / Affiliate</a></li>
                                            <li class="level3"><a href="#" title="Product _ Out of Stock">Product _ Out of Stock</a></li>
                                            <li class="level3"><a href="#" title="Product _ On Sale">Product _ On Sale</a></li>
                                        </ul>
                                    </li> #}
                                    <li class="level2">
                                        <img src="/assets/images/460x695.png" alt="Sub-Menu" />
                                    </li>
                                  </ul>
                              </div>
                              <!-- End Dropdow Menu -->
                            </li>
                            <li class="level1 dropdown"><a href="#" title="collections">Colors</a>
                                <ul class="menu-level-1 dropdown-menu">
                                    <li class="level2"><a href="/color/multicolor/" title="Multicolor Sarees" target="_blank">Multicolor Sarees</a>
                                        {# <ul class="menu-level-2">
                                            <li class="level3"><a href="lookbook_v2.html" title="Lookbook Style 1" target="_blank">Lookbook Style 1</a></li>
                                            <li class="level3"><a href="lookbook_v3.html" title="Lookbook Style 2" target="_blank">Lookbook Style 2</a></li>
                                            <li class="level3"><a href="lookbook_v4.html" title="Lookbook Style 3" target="_blank">Lookbook Style 3</a></li>
                                            <li class="level3"><a href="lookbook_v5.html" title="Lookbook Style 4" target="_blank">Lookbook Style 4</a></li>
                                        </ul> #}
                                    </li>
                                    <li class="level2"><a href="/color/red/" title="Red Sarees" target="_blank">Red Sarees</a></li>
                                    <li class="level2"><a href="/color/blue/" title="Blue Sarees" target="_blank">Blue Sarees</a></li>
                                    <li class="level2"><a href="/color/green/" title="Green Sarees" target="_blank">Green Sarees</a></li>
                                    <li class="level2"><a href="/color/yellow/" title="Yellow Sarees" target="_blank">Yellow Sarees</a></li>
                                    <li class="level2"><a href="/color/pink/" title="Pink Sarees" target="_blank">Pink Sarees</a></li>
                                    <li class="level2"><a href="/color/violet/" title="Violet Sarees" target="_blank">Violet Sarees</a></li>
                                    <li class="level2"><a href="/color/black/" title="Black Sarees" target="_blank">Black Sarees</a></li>
                                    <li class="level2"><a href="/color/white/" title="White Sarees" target="_blank">White Sarees</a></li>
                                    <li class="level2"><a href="/color/grey/" title="Grey Sarees" target="_blank">Grey Sarees</a></li>
                                    <li class="level2"><a href="/color/brown/" title="Brown Sarees" target="_blank">Brown Sarees</a></li>
                                    <li class="level2"><a href="/color/orange/" title="Orange Sarees" target="_blank">Orange Sarees</a></li>

                                </ul>
                            </li>
                            <li class="level1 dropdown"><a href="/about/" title="Page">About Us</a>
                                {# <div class="sub-menu dropdown-menu">
                                  <ul class="menu-level-1">
                                    <li class="level2"><a href="#">Shop examples</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="product_detail.html" title="product detail">product detail</a></li>
                                            <li class="level3"><a href="product_detail2.html" title="product detail 2">product detail version 2</a></li>
                                            <li class="level3"><a href="product_detail3.html" title="product detail 3">product detail version 3</a></li>
                                            <li class="level3"><a href="catalog_fullwidth.html" title="catalog_fullwidth">catalog_fullwidth</a></li>
                                            <li class="level3"><a href="catalog_fullwidth_flat.html" title="catalog_fullwidth_flat">catalog_fullwidth_flat</a></li>
                                            <li class="level3"><a href="catalog_masonry.html" title="catalog_masonry">catalog_masonry</a></li>
                                            <li class="level3"><a href="catalog_masonry_flat.html" title="catalog_masonry_flat">catalog_masonry_flat</a></li>
                                            <li class="level3"><a href="catalog_sidebar.html" title="catalog_sidebar">catalog_sidebar</a></li>
                                            <li class="level3"><a href="cart.html" title="cart version 2">cart version 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="level2"><a href="#">pages</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="porrtfolio_grid.html" title="porrtfolio grid">porrtfolio grid</a></li>
                                            <li class="level3"><a href="porrtfolio_grid_full_width.html" title="porrtfolio_grid_full_width.html">porrtfolio grid_full width</a></li>
                                            <li class="level3"><a href="porrtfolio_masonry_full_width.html" title="porrtfolio_masonry_full_width.html">porrtfolio_masonry full width</a></li>
                                            <li class="level3"><a href="porrtfolio_single.html" title="porrtfolio_single.html">porrtfolio single.html</a></li>
                                            <li class="level3"><a href="popup.html" title="popup">popup</a></li>
                                            <li class="level3"><a href="popup_v2.html" title="popup_v2">popup version 2</a></li>
                                            <li class="level3"><a href="quick_view.html" title="quick-view">quick view</a></li>
                                            <li class="level3"><a href="login.html" title="login">login</a></li>

                                        </ul>
                                    </li>
                                     <li class="level2"><a href="#">Blog</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="blog_masonry.html" title="blog_masonry">blog masonry</a></li>
                                            <li class="level3"><a href="blog_standar.html" title="blog_standar">blog standar</a></li>
                                            <li class="level3"><a href="single_post.html" title="single_post">single post</a></li>
                                            <li class="level3"><a href="homepage_footer_v2.html" title="homepage_footer_v2">homepage footer version 2</a></li>
                                            <li class="level3"><a href="homepage_footer_v3.html" title="homepage_footer_v3">homepage footer version 3</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                              </div> #}
                              <!-- End Dropdow Menu -->
                            </li>
                            <li class="level1 dropdown"><a href="/contact/" title="Contact support" target="_blank">Contact Us</a>
                                {# <ul class="menu-level-1 dropdown-menu">
                                    <li class="level2"><a href="accordion.html" title="accordion" target="_blank">accordion</a></li>
                                    <li class="level2"><a href="box_content.html" title="box_content" target="_blank">box content</a></li>
                                    <li class="level2"><a href="button.html" title="button" target="_blank">button</a></li>
                                    <li class="level2"><a href="countdown.html" title="countdown" target="_blank">countdown</a></li>
                                    <li class="level2"><a href="gmap.html" title="gmap" target="_blank">gmap</a></li>
                                    <li class="level2"><a href="iconbox.html" title="iconbox" target="_blank">iconbox</a></li>
                                    <li class="level2"><a href="social.html" title="social" target="_blank">social</a></li>
                                    <li class="level2"><a href="tabs.html" title="tabs" target="_blank">tabs</a></li>
                                    <li class="level2"><a href="post_shortcode.html" title="post shortcode" target="_blank">post shortcode</a></li>
                                </ul> #}
                            </li>
                          </ul>
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="cart">
                            <p class="icon-cart snipcart-checkout" title="Add to cart">
                                <i class="icons icon-bag"></i>
                                <span class="cart-count snipcart-items-count"></span>
                            </p>
                        </div>                       
                        <!-- End cart -->
                    </div>                
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
 </header><!-- /header -->