---
title: Vaira Oosi - The Sarees made with diamond needle
meta: Discover unbiased insights at EqualSlate.com – your trusted source for affiliate marketing, online income, and interior design tips. Join me for honest advice and real fun without the bias. Let's explore together!
layout: 'base.njk'
eleventyExcludeFromCollections: true
---     

        <div class="container">
            <div class="tp-banner-container ver1">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <!-- SLIDE 1 -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-1.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                                <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-80"
                            id="caption1"
                            data-x="center"
                            data-y="330"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-speed="500"
                            data-start="2000"
                            data-easing="Power4.easeOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 10">Traditional Handloom
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE 2 -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-2.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption large_bold_orange color-white text-transform-cap font-play skewfromright customout size-80"
                            id="caption2"
                            data-x="center"
                            data-y="330"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7">Cultural Essence
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>

                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE 3 -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-3.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption large_bold_orange color-white text-transform-cap font-play skewfromright customout size-80"
                            id="caption3"
                            data-x="center"
                            data-y="330"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7">Heritage Weaves
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>

                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE 4 -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-4.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption large_bold_orange color-white text-transform-cap font-play skewfromright customout size-80"
                            id="caption4"
                            data-x="center"
                            data-y="330"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7">Crafted Elegance
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>

                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE 4 -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-5.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption large_bold_orange color-white text-transform-cap font-play skewfromright customout size-80"
                            id="caption5"
                            data-x="center"
                            data-y="330"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7">Vibrant Styles
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500"
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>

                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE 4 -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                        <img src="{{ settings.siteRoot }}/assets/images/home-main-1760x840-6.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_orange color-white font-os letter-spacing-5 font-300 skewfromleft customout size-24"
                            data-x="790"
                            data-y="306"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 9">India's own
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption large_bold_orange color-white text-transform-cap font-play skewfromright customout size-80"
                            id="caption6"
                            data-x="center"
                            data-y="330"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1700"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"> Festive Flair
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption welcome size-16 skewfromright customout"
                            data-x="755" data-hoffset="-140"
                            data-y="440" data-voffset="-103"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="500" 
                            data-endeasing="Power4.easeIn"
                            data-captionhidden="on"
                            style="z-index: 7"><img src="{{ settings.siteRoot }}/assets/images/vairaoosi-slideshow-border-home1.png" alt="Slide-show-home1">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromright customout font-italic font-play link-1 height-50"
                            data-x="780"
                            data-y="510"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300" 
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 8"><a href="/all-products/" title="View Now" class="">SHOP NOW</a>
                        </div>

                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->                    
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- End container -->
        </div>

        <div class="main-content">
            <div class="shipping-container">
                <div class="container">
                    <div class="shipping-content">
                        <div class="col-md-4">
                            <i class="icon-plane icons"></i><h3>FREE DELIVERY FROM ₹6000</h3>
                        </div>
                        <!-- End col-md-4 -->
                        <div class="col-md-4">
                            <i class="icon-diamond icons"></i><h3>BEST QUALITY HANDLOOM PRODUCTS</h3>
                        </div>
                        <!-- End col-md-4 -->
                        <div class="col-md-4">
                            <i class="icon-emoticon-smile icons"></i><h3>10% DISCOUNT ON SELECTED SAREES</h3>
                        </div>
                        <!-- End col-md-4 -->
                    </div>
                    <!-- End shipping-content -->
                </div>
                <!-- End container -->
            </div>
            <!-- Enb shipping container -->

                <div class="container">
                    <div class="slider-product our-new-product owl-nav-hidden">
                        <ul class="tabs">
                            <li class="item" rel="tab_1">NEW ARRIVALS</li>
                            <li class="item" rel="tab_2">TRENDNG NOW</li>
                            <li class="item" rel="tab_3">DISCOUNTED</li>
                        </ul>
                        <div class="tab-container space-10">
                            <div id="tab_1" class="tab-content">
                                <div class="product-tab-content products">
                                    {% for prdt in collections.latestProducts %}
                                    {# {% if counter < 5 %} #}
                                    <div class="item-inner">
                                        <div class="product">
                                            <div class="product-images">
                                                <a href="{{ prdt.url }}" title="product-images">
                                                    <img class="primary_image" src="{{ prdt.data.productimage700x800.primaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                    <img class="secondary_image" src="{{ prdt.data.productimage700x800.secondaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                </a>
                                                <div class="action">
                                                    <a class="zoom" href="{{ prdt.url }}" title="Quick view" ><i class="icon icon-magnifier-add "></i></a>
                                                    <a class="wish" href="#" title="Wishlist" ><i class="icon icon-heart"></i></a>
                                                    <a class="add-cart snipcart-add-item" data-item-id="{{ prdt.data.sku }}" data-item-name="{{ prdt.data.productdetails.name }}" data-item-price="{{ prdt.data.productdetails.price }}" data-item-image="{{ prdt.data.snipcartimg190x160.snipcartimg }}" href="{{ prdt.url }}" title="Add to cart" ><i class="icon-bag"></i></a>
                                                </div>
                                            </div>
                                            <a href="{{ prdt.url }}" title="{{ prdt.data.productdetails.name }}"><p class="product-title">{{ prdt.data.productdetails.name }}</p></a>
                                            <p class="product-price">₹{{ prdt.data.productdetails.price }}</p>
                                            
                                        </div>
                                    </div>
                                    <!-- End item -->
                                     {# {% set counter = counter + 1 %}
                                    {% endif %} #}
                                    {% endfor %}

                                </div>
                                <!-- End product-tab-content products -->
                            </div>
                            <!-- End tab-content -->
                            <div id="tab_2" class="tab-content">
                                <div class="product-tab-content products">
                                    {% for prdt in collections.trendingproduct %}
                                    <div class="item-inner">
                                        <div class="product">
                                            <div class="product-images">
                                                <a href="{{ prdt.url }}" title="product-images">
                                                    <img class="primary_image" src="{{ prdt.data.productimage700x800.primaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                    <img class="secondary_image" src="{{ prdt.data.productimage700x800.secondaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                </a>
                                                <div class="action">
                                                    <a class="zoom" href="{{ prdt.url }}" title="Quick view" ><i class="icon icon-magnifier-add "></i></a>
                                                    <a class="wish" href="#" title="Wishlist" ><i class="icon icon-heart"></i></a>
                                                    <a class="add-cart snipcart-add-item" data-item-id="{{ prdt.data.sku }}" data-item-name="{{ prdt.data.productdetails.name }}" data-item-price="{{ prdt.data.productdetails.price }}" data-item-image="{{ prdt.data.snipcartimg190x160.snipcartimg }}" href="{{ prdt.url }}" title="Add to cart" ><i class="icon-bag"></i></a>
                                                </div>
                                            </div>
                                            <a href="{{ prdt.url }}" title="{{ prdt.data.productdetails.name }}"><p class="product-title">{{ prdt.data.productdetails.name }}</p></a>
                                            <p class="product-price">₹{{ prdt.data.productdetails.price }}</p>
                                            
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    {% endfor %}
                                </div>
                                <!-- End product-tab-content products -->
                            </div>
                            <!-- End tab-content -->
                            <div id="tab_3" class="tab-content">
                                <div class="product-tab-content products">
                                    {% for prdt in collections.discountedproduct %}
                                    <div class="item-inner">
                                        <div class="product">
                                            <div class="product-images">
                                                <a href="{{ prdt.url }}" title="product-images">
                                                    <img class="primary_image" src="{{ prdt.data.productimage700x800.primaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                    <img class="secondary_image" src="{{ prdt.data.productimage700x800.secondaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                </a>
                                                <div class="action">
                                                    <a class="zoom" href="{{ prdt.url }}" title="Quick view" ><i class="icon icon-magnifier-add "></i></a>
                                                    <a class="wish" href="#" title="Wishlist" ><i class="icon icon-heart"></i></a>
                                                    <a class="add-cart snipcart-add-item" data-item-id="{{ prdt.data.sku }}" data-item-name="{{ prdt.data.productdetails.name }}" data-item-price="{{ prdt.data.productdetails.price }}" data-item-image="{{ prdt.data.snipcartimg190x160.snipcartimg }}" href="{{ prdt.url }}" title="Add to cart" ><i class="icon-bag"></i></a>
                                                </div>
                                            </div>
                                            <a href="{{ prdt.url }}" title="{{ prdt.data.productdetails.name }}"><p class="product-title">{{ prdt.data.productdetails.name }}</p></a>
                                            <p class="product-price">₹{{ prdt.data.productdetails.price }}</p>
                                            
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    {% endfor %}
                                </div>
                                <!-- End product-tab-content products-->
                            </div>
                            <!-- End tab-content -->
                        </div>
                    </div>
                    <!-- End OurNewProduct -->
                </div>
                <!-- End container -->
                <div class="title-text">
                    <h3>DISCOUNTED PRODUCTS</h3>
                </div>
                <div class="featured-product space-80">
                    <div class="container">
                        <div class="col-md-7">
                            <div class="products slider-one-item owl-nav-hidden dots-show">
                                <div class="product">
                                    <a class="product-images" href="#" title="discounted">
                                        <img src="{{ settings.siteRoot }}/assets/images/discount-products-off.jpg" alt=""/>
                                    </a>
                                    <a href="#" title="Weekly Offers"><p class="product-title">Weekly Offers</p></a>
                                    <p class="cat">SELECTED PIECES</p>
                                    <p class="product-price">20% OFF</p>
                                </div>
                                <!-- End product -->
                                <div class="product">
                                    <a class="product-images" href="#" title="">
                                        <img src="{{ settings.siteRoot }}/assets/images/discount-products-end.jpg" alt=""/>
                                    </a>
                                    <a href="#" title="Ending Soon"><p class="product-title">Ending Soon</p></a>
                                    <p class="cat">SELECTED PIECES</p>
                                    <p class="product-price">20% OFF</p>
                                </div>
                                <!-- End product -->
                            </div>
                            <!-- End products -->
                        </div>
                        <!-- End col-md-7 -->
                        <div class="col-md-5">
                            
                            <div class="products">
                                {% for prdt in collections.discountedproduct %}
                                    {% if loop.index <= 4 %}
                                        <div class="product">
                                            <div class="product-images">
                                                <a href="{{ prdt.url }}" title="product-images">
                                                    <img class="primary_image" src="{{ prdt.data.productimage700x800.primaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                    <img class="secondary_image" src="{{ prdt.data.productimage700x800.secondaryimg1 }}" alt="{{ prdt.data.seo.alt }}"/>
                                                </a>
                                                <div class="action">
                                                    <a class="zoom" href="{{ prdt.url }}" title="Quick view"><i class="icon icon-magnifier-add"></i></a>
                                                    <a class="wish" href="#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                                    <a class="add-cart snipcart-add-item" data-item-id="{{ prdt.data.sku }}" data-item-name="{{ prdt.data.productdetails.name }}" data-item-price="{{ prdt.data.productdetails.price }}" data-item-image="{{ prdt.data.snipcartimg190x160.snipcartimg }}" href="{{ prdt.url }}" title="Add to cart"><i class="icon-bag"></i></a>
                                                </div>
                                            </div>
                                            <a href="{{ prdt.url }}" title="{{ prdt.data.productdetails.name }}">
                                                <p class="product-title">{{ prdt.data.productdetails.name }}</p>
                                            </a>
                                            <p class="product-price">₹{{ prdt.data.productdetails.price }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                                <!-- End product --> 
                            </div>
                            <!-- End products -->
                        </div>
                        <!-- End col-md-5 -->

                    </div>
                    <!-- End container -->
                </div>
                <!-- End featured-product -->
            <div class="newsletter">
                <div class="container">
                    <div class="col-md-5">
                        <div class="col-md-6">
                            <div class="border-free-shipping">
                                <h3>Free shipping</h3>
                                <h3>on all orders of ₹6000 </h3>
                                <a class="hover-black" href="/all-products/" title="read-more">Get Now<i class="link-icon-gray"></i></a>
                            </div>
                            <!-- End free shipping -->
                        </div>
                        <div class="col-md-6">
                            <i class="icon icon-rocket"></i>
                        </div>
                    </div>
                    <!-- End col-md-5 -->
                    <div class="col-md-7">
                        <div class="newsletter-content">
                            <i class="icon icon-envelope-letter"></i>
                            <h3>Sign up for newsletter</h3>
                            <p>to receive exclusive discounts codes and offers on your mail</p>
                            <form action="https://app.audienceful.com/api/subscribe/LyP8BTrLviPcRwxrhDFqTD/" method="POST" accept-charset="utf-8">
                                <input 
                                    type="email" 
                                    onblur="if (this.value == '') {this.value = 'Enter your email here...';}" 
                                    onfocus="if(this.value == 'Enter your email here...') {this.value = '';}" 
                                    value="Enter your email here..." 
                                    class="input-text required-entry validate-email" 
                                    title="Sign up for our newsletter" 
                                    id="newsletter" 
                                    name="email" 
                                    required>
                                <button class="button button1 hover-black" title="Subscribe" type="submit">Subscribe<i class="link-icon-black"></i></button>
                            </form>

                        </div>
                        <!-- End newsletter-content -->
                    </div>
                    <!-- End col-md-7 -->
                </div>
                <!-- End container -->
            </div>
            <!-- End newsletter -->
            {# <div class="banner-home2 space-40">
                <div class="container">
                    <div class="col-md-7">
                        <a class="hover-images" href="#" title="Banner">
                            <img src="{{ settings.siteRoot }}/assets/images/uno-banner-home1.jpg" alt="Banner">
                        </a>
                    </div>
                    <!-- End col-md-7 -->
                    <div class="col-md-5">
                        <a class="hover-images" href="#" title="Banner">
                            <img src="{{ settings.siteRoot }}/assets/images/uno-banner-home2.jpg" alt="Banner">
                        </a>
                        <div class="hover-effect-border">
                            <img src="{{ settings.siteRoot }}/assets/images/uno-banner-home2.jpg" alt="Banner">
                            <div class="text">
                                <h4>SPRING 2016 COLLECTION</h4>
                                <h3>Vestibu & Inceptos</h3>
                                <p>Seamlessly restore robust partnerships and frictionless materials nteractively</p>
                                <button class="button button1 hover-white">Take me there <i class="link-icon-white"></i></button>
                            </div>
                            <!-- End text -->
                        </div>
                    </div>
                    <!-- End col-md-5 -->
                </div>
                <!-- End container -->
            </div>
            <!-- End banner home 2 --> #}

  


